*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}
main {
    /* height: 100vh; */
    /* width: 100vw; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Images/7973193_3398605.jpg);
    position: sticky;
    background-size: cover;
    /* background-repeat: no-repeat; */
    top: 0;
    color: white;
}


.sec-1{
    position: sticky;
    top: 0;
}
.main-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #393e46;
    box-shadow: rgb(19 17 14) 0px 0px 7px 2px;
    background-color: rgb(22 19 59);
    
    /* background-color: #f96d00; */
}
.main-1 .brand{
    font-size: 1.8rem;
    color: white;
    font-family: 'Protest Strike', sans-serif;
    text-decoration: none;
}

.main-1 .menu{
    display: flex;
    align-items: center;
}

.main-1 .menu li > a{
    text-decoration: none;
    color: white;

    
}

.main-1 .menu li{
    list-style: none;
    margin: 0 2rem;
    border-bottom: 2px solid rgb(22 19 59);
    transition-property: border-bottom;
    transition-duration: 0.25s;
    
    
}
.main-1 .menu li:hover{
    border-bottom: 2px solid #d2a34d;
}

.main-1 button{
    display: flex;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: #f86c6b;
    color: black;
    transition-property: background-color, color, transform;
    transition-duration: 0.1s;
    cursor: pointer;
    
    
    /* margin-left: 10rem; */
} 

.main-1 button a{
    text-decoration: none;
    color: black;
}

.main-1 button:active{
    background-color: #f2f2f2;
    color: black;
}
.main-1 button:hover{
    transform: scale(1.05);
}

.sec-2{
    /* margin-top: 3rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* height: 100vh; */
}
.Card{
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(22 19 59);
    box-shadow: rgb(19 17 14) 0px 0px 7px 2px;
    border: 1px solid black;
    border-radius: 20px;
    /* overflow: hidden; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.left-side{
    display: flex;
    margin: 1rem 1rem;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.left-side > h2{
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
}
.right-side{
    /* height: 100%; */
    width: 50%;
}

.right-side img{
    height: 100%;
    width: 100%;
    border-radius: 20px;

}
#authorp{
    margin-top: 1.5rem;
    margin-left: 8rem;
}
.btns{
    display: flex;
    justify-content: space-between;
}
#logoutbtn{
    margin-left: 2rem;
}
#blog-delete{
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 1rem;
    background-color: rgb(255, 54, 54);
    border-style: none;
    transition-property: box-shadow, background-color, color;
    transition-duration: 0.1s;
    cursor: pointer;
    color: white;
}
#blog-delete:hover{
    box-shadow: 0px 0px 5px 1px #d2a34d;
    background-color: rgb(43, 51, 106);
    color: red;
}